@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
.math_panel {
	transition: 1s;
	width: 965px;
	height: 80vh;
}

h1 {
	font-family: 'Nanum Pen Script', cursive;
	text-align: center;
	font-size: xxx-large;
}
